<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="../../css/main.css"/>
  <link rel="stylesheet" href="../../css/nya-bs-select.css"/>
  <script src="../../js/angular.js"></script>
  <script src="../../js/nya-bs-select.js"></script>
  <script src=""></script>
</head>
<body ng-app="AdvancedStaticExample1App">
  <div ng-controller="MainController">
    <p class="alert-info">Single Selection, model is {{model}}</p>
<ol class="nya-bs-select" ng-model="interval">
  <li class="nya-bs-option" value="1">
    <a>1</a>
  </li>
  <li class="nya-bs-option" value="2">
    <a>2</a>
  </li>
  <li class="nya-bs-option" value="3">
    <a>3</a>
  </li>
</ol>
<ol class="nya-bs-select" ng-model="units" update-button-on="units">
  <li class="nya-bs-option" value="DAY">
    <a>day{{interval != 1 ? 's' : ''}}</a>
  </li>
  <li class="nya-bs-option" value="WEEK">
    <a>week{{interval != 1 ? 's' : ''}}</a>
  </li>
  <li class="nya-bs-option" value="MONTH">
    <a>month{{interval != 1 ? 's' : ''}}</a>
  </li>
</ol>
  </div>
</body>
</html>
